# This is your .env file
# The data added here will be propagated to the client
# example:
# PORT=8080
# Without ','


API_KEY = 
AUTH_DOMAIN = 
PROJECT_ID = 
STORAGE_BUCKECT = 
MESSAGING_SENDER_ID = 
APP_ID =